@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --orange: rgb(255, 153, 0);
    --red: #e12301;
    --poppins: poppins;
    --dancingScript: Dancing Script;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animation element y-axis */
.elements_aniY_fix {
    animation-name: elements_aniY_fix;
    animation-duration: 1s;
}

@keyframes elements_aniY_fix {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0.25;
    }

    100% {
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}

.elements_aniY {
    animation-name: elements_aniY;
    animation-duration: 1s;
}

@keyframes elements_aniY {
    0% {
        transform: translateY(30%);
        opacity: 0.25;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.elements_aniX {
    animation: elements_aniX 0.75s;
}

@keyframes elements_aniX {
    0% {
        transform: translateX(50%);
        opacity: 0.25;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.elements_ani-X {
    animation: elements_ani-X 0.75s;
}

@keyframes elements_ani-X {
    0% {
        transform: translateX(-50%);
        opacity: 0.25;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

body {
    color: #000;
    font-size: 1rem;
    font-family: var(--poppins);
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    background: transparent;
    backdrop-filter: blur(2.25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    transition: all 300ms;
    z-index: 1;
    animation-name: navbar_aniY;
    animation-duration: 1s;
}

@keyframes navbar_aniY {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.navbar .logo {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--dancingScript);
}

.navbar .navbar-link :where(a, .menu) {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2.5rem;
    transition: all .2s;
    cursor: pointer;
}

.navbar .navbar-link > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(20px);
    transition: all .35s;
    border-radius: 50px;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 150px;
    height: 175px;
    list-style-type: none;
    background-color: #fff;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 300ms;
    transform: translateY(20%);
    opacity: 0;
}

.menu-dropdown li a {
    position: relative;
}

.menu-dropdown li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--red);
    transition: all 300ms;
    border-radius: 50px;
}

.menu-dropdown li a:hover {
    color: var(--red);
}

.menu-dropdown li a:hover::before {
    width: 100%;
}

.navbar .navbar-link :where(a, .menu):hover {
    color: var(--red);
}

.navbar .navbar-link > a:hover::before {
    background-color: var(--red);
    transform: translateY(3px);
}

.active {
    position: relative;
    color: var(--red) !important;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 3px;
    background-color: var(--red);
    transform: translateY(3px) !important;
}

.about-text-img {
    position: relative;
}

.about-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
}

.about-text {
    position: absolute;
    top: 50%;
    right: 7rem;
    transform: translate(-50% -50%);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.about-story {
    width: 1300px;
    margin: 5rem auto;
    padding: 2rem;
}

.about-story h1 {
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

.about-story p {
    font-size: 1.75rem;
}

.about-story-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin: 2rem 0;
    border-radius: 20px;
}

.story-text-img {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

.story-text h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.story-text p {
    font-size: 1.5rem;
}

.story-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 500px;
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: var(--orange);
    color: #fff;
    margin-top: 7rem;
}

.col-footer {
    width: 400px;
    height: 250px;
}

.logo-footer {
    font-size: 2rem;
    font-family: var(--dancingScript);
    margin-bottom: 1.5rem;
}

.local-footer {
    margin-bottom: 1rem;
}

.phone-footer {
    margin-bottom: 1rem;
}

.Open-footer {
    font-size: 1.5rem;
}

.day-open {
    list-style-type: none;
    margin-top: 1rem;
}

li .li-text-right {
    float: right;
}

.col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-footer {
    font-size: 3rem;
    margin: 1.5rem 1rem 1rem 1rem;
}

.icon-footer a i.fa-facebook {
    color: #3b5998;
}

.icon-footer a i.fa-square-instagram {
    color: #ff5500;
}

.icon-footer a i.fa-square-x-twitter {
    color: #000;
}

.icon-footer a i.fa-linkedin {
    color: #0A66C2;
}

.play-app-download img {
    width: 100px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.copyright {
    text-align: center;
    padding: 1rem;
}