@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --orange: rgb(255, 153, 0);
    --red: #e12301;
    --poppins: poppins;
    --dancingScript: Dancing Script;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 1rem;
    font-family: var(--poppins);
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    background: transparent;
    backdrop-filter: blur(2.25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    transition: all 300ms;
    z-index: 1;
    animation-name: navbar_aniY;
    animation-duration: 1s;
}

@keyframes navbar_aniY {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.navbar .logo {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--dancingScript);
}

.navbar .navbar-link {
    position: relative;
}

.navbar .navbar-link :where(a, .menu) {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2.5rem;
    transition: all .2s;
}

.navbar .navbar-link > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(20px);
    transition: all .35s;
    border-radius: 50px;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 150px;
    height: 175px;
    list-style-type: none;
    background-color: #fff;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 300ms;
    transform: translateY(20%);
    opacity: 0;
}

.menu-dropdown .list-menu {
    position: relative;
    display: none;
}

.menu-dropdown a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--red);
    transition: all 300ms;
    border-radius: 50px;
}

.menu-dropdown a:hover {
    color: var(--red);
}

.menu-dropdown a:hover::before {
    width: 100%;
}

.navbar .navbar-link :where(a, .menu > span):hover {
    color: var(--red);
}

.navbar .navbar-link > a:hover::before {
    background-color: var(--red);
    transform: translateY(3px);
}

.active {
    position: relative;
    color: var(--red) !important;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--red);
    transform: translateY(3px) !important;
}

.container-first {
    position: relative;
}

.img-container {
    background-image: url('Pizza img/contact background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    opacity: 0.82;
    border-top-left-radius: -5%;
}

.container-first .img-home {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welc-logo {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.img-home .welc {
    width: 600px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.contact_ani-X {
    animation-name: contact_ani-X;
    animation-duration: 1s;
}

@keyframes contact_ani-X {
    0% {
        transform: translateX(-100%);
        opacity: 0.25;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0;
}

.contact-text {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

.contact_aniY {
    animation-name: contact_aniY;
    animation-duration: 1s;
}

@keyframes contact_aniY {
    0% {
        transform: translateY(30%);
        opacity: 0.25;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.contact-form input {
    width: 100%;
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: 0.75rem 4rem 0.75rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    outline: none;
}

.contact-form textarea {
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: var(--poppins);
    margin: 1rem 0;
    padding: 0.75rem 4rem 0.75rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    outline: none;
}

.contact-form :where(input, textarea):focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
}

.contact-form :where(input, textarea):valid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
}

.contact-form button {
    width: 200px;
    background-color: #fff;
    color: #000;
    font-size: 1.1rem;
    font-weight: b;
    padding: 1.25rem 1.1rem;
    margin-top: 1rem;
    border: 1px solid var(--orange);
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}

.contact-form button:hover {
    background-color: var(--orange);
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: var(--orange);
    color: #fff;
    margin-top: 7rem;
}

.col-footer {
    width: 400px;
    height: 250px;
}

.logo-footer {
    font-size: 2rem;
    font-family: var(--dancingScript);
    margin-bottom: 1.5rem;
}

.local-footer {
    margin-bottom: 1rem;
}

.phone-footer {
    margin-bottom: 1rem;
}

.Open-footer {
    font-size: 1.5rem;
}

.day-open {
    list-style-type: none;
    margin-top: 1rem;
}

li .li-text-right {
    float: right;
}

.col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-footer {
    font-size: 3rem;
    margin: 1.5rem 1rem 1rem 1rem;
}

.icon-footer a i.fa-facebook {
    color: #3b5998;
}

.icon-footer a i.fa-square-instagram {
    color: #ff5500;
}

.icon-footer a i.fa-square-x-twitter {
    color: #000;
}

.icon-footer a i.fa-linkedin {
    color: #0A66C2;
}

.play-app-download img {
    width: 100px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.copyright {
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 1080px) {
    .container-first .img-home {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding: 1rem 3rem 0 3rem;
    }
    .col-3 {
        grid-area: 1 / 2 / 2 / 3;
    }
    
}

@media screen and (max-width: 900px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    } 
    .col-footer {
        width: 650px;
        height: 250px;
    }
    .icon-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        font-size: 4.5rem;
    }
    .play-app-download {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
    }
    .navbar-link :where(a, .menu) {
        display: none;
    }
    .btnBar {
        display: inline-block;
    }

}